#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: #2b7ead;
  margin: 0 10px;
}

ul {
  list-style-type: none;
}

.loading {
  font-size: x-large;
}

.Votes {
  font-size: large;
}

.header {
  text-align: center;
}

#comment-author {
  font-weight: bold;
}

#comment-date {
  font-weight: bold;
}
